In [76]:
from pycaret.datasets import get_data
#data = get_data('insurance')
import pandas as pd
import numpy as np
import os
#data = get_data('diamond')
path = os.getcwd()
parent_path=os.path.abspath(os.path.join(path, os.pardir))
data = pd.read_csv(parent_path+'/data/raw/insurance.csv')
print(data.head(5))

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520


Pycaret setup data preprocessing

In [77]:
from pycaret.regression import *
data = setup(data, target = 'charges', session_id = 123,
           normalize = True, log_experiment = True, experiment_name = 'MLOps_v1', log_data = True,
           polynomial_features = True, trigonometry_features = True, feature_interaction=True, 
           bin_numeric_features= ['age', 'bmi'])

To get preprocessed dataset
X
y
X_train
X_test
y_train
y_test
seed
prep_pipe
experiment__

In [58]:
def save_csv_file(df,path):
    df.to_csv(path)

In [59]:
x_training_data = get_config(variable="X_train")
y_training_data = get_config(variable="y_train")

data_path=parent_path+'\data\processed\X_train.csv'
save_csv_file(training_data,data_path)

data_path=parent_path+'\data\processed\y_train.csv'
save_csv_file(training_data,data_path)
#print(training_data)

In [61]:
print(get_config)

<function get_config at 0x0000020448E25158>

create comprehension model
we can use include or exclude models in list

In [62]:
best_model = compare_models(exclude = ['ransac'])

Best model tuning

In [63]:
tuned_best = tune_model(best_model)

tune best param

In [65]:
final_model = finalize_model(estimator = tuned_best)

In [66]:
evaluate_model(final_model)

                            Parameters
alpha                              0.9
ccp_alpha                          0.0
criterion                 friedman_mse
init                              None
learning_rate                     0.15
loss                                ls
max_depth                            7
max_features                       1.0
max_leaf_nodes                    None
min_impurity_decrease             0.02
min_impurity_split                None
min_samples_leaf                     5
min_samples_split                    5
min_weight_fraction_leaf           0.0
n_estimators                       230
n_iter_no_change                  None
presort                     deprecated
random_state                       123
subsample                         0.85
tol                             0.0001
validation_fraction                0.1
verbose                              0
warm_start                       False

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param

In [68]:
model_path=parent_path+'\models\deployment_gbr'
save_model(final_model, model_path)

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=True, features_todrop=[],
                                       id_columns=[], ml_usecase='regression',
                                       numerical_features=[], target='charges',
                                       time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value_numerical=None,
                                 numeric_strategy...
                                            learning_rate=0.15, loss='ls',
                                            max_depth=7, max_features=1.0,
                                            max_leaf_nodes=None,
                                            min_impurity_decrease=0.02,
                                            min_impurity_split=None,
                                            min_samples_leaf=5,
                                            min_samples_split=5,
                                            min_weight_fraction_leaf=0.0,
                                            n_estimators=230,
                                            n_iter_no_change=None,
                                            presort='deprecated',
                                            random_state=123, subsample=0.85,
                                            tol=0.0001, validation_fraction=0.1,
                                            verbose=0, warm_start=False)]],
          verbose=False),
 'F:\\data_secience_ref\\MLOps\\Course+material\\mlops_ds_1\\MLOps_v1\\ds-mlops-v1\\models\\deployment_gbr.pkl')

In [71]:
# create API
create_api(final_model, 'mlops_api_v1')

API sucessfully created. This function only creates a POST API, it doesn't run it automatically.

To run your API, please run this command --> !python mlops_api_v1.py

In [70]:
#!python mlops_api_v1.py

^C

http://localhost:8000/docs#/default/predict_predict_post

cmd --> mlflow ui

load model

In [72]:
deployment_gbr_model = load_model(model_path)

Transformation Pipeline and Model Successfully Loaded

In [73]:
print(deployment_gbr_model)

Pipeline(memory=None,
         steps=[('dtypes',
                 DataTypes_Auto_infer(categorical_features=[],
                                      display_types=True, features_todrop=[],
                                      id_columns=[], ml_usecase='regression',
                                      numerical_features=[], target='charges',
                                      time_features=[])),
                ('imputer',
                 Simple_Imputer(categorical_strategy='not_available',
                                fill_value_categorical=None,
                                fill_value_numerical=None,
                                numeric_strategy...
                                           learning_rate=0.15, loss='ls',
                                           max_depth=7, max_features=1.0,
                                           max_leaf_nodes=None,
                                           min_impurity_decrease=0.02,
                                           min_impurity_split=None,
                                           min_samples_leaf=5,
                                           min_samples_split=5,
                                           min_weight_fraction_leaf=0.0,
                                           n_estimators=230,
                                           n_iter_no_change=None,
                                           presort='deprecated',
                                           random_state=123, subsample=0.85,
                                           tol=0.0001, validation_fraction=0.1,
                                           verbose=0, warm_start=False)]],
         verbose=False)


data1 = data.sample(frac=0.9, random_state=786)
data_unseen = data.drop(data1.index)

data1.reset_index(drop=True, inplace=True)
data_unseen.reset_index(drop=True, inplace=True)

print('Data for Modeling: ' + str(data1.shape))
print('Unseen Data For Predictions ' + str(data_unseen.shape))


#x_test_data = get_config(variable="X_test")

In [81]:
#predictions = predict_model(deployment_gbr_model, data=x_test_data)

predictions = predict_model(deployment_gbr_model)
predictions.head()

,age_Power2,bmi_Power2,sex_female,children_0,children_1,children_2,children_3,children_4,children_5,smoker_no,...,bmi_Power2_multiply_age_Power2,smoker_no_multiply_children_0,bmi_5.0_multiply_age_Power2,region_southeast_multiply_bmi_Power2,smoker_no_multiply_age_Power2,region_southwest_multiply_bmi_Power2,region_northwest_multiply_age_Power2,sex_female_multiply_bmi_Power2,charges,Label
0,0.597312,2.259463,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.349604,0.0,0.0,2.259463,0.597312,0.000000,0.000000,2.259463,9800.888672,9171.534539
1,-0.624317,1.120715,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,-0.699682,0.0,-0.0,0.000000,-0.624317,0.000000,-0.000000,0.000000,4667.607422,4478.455242
2,-0.886031,0.034522,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.030588,0.0,-0.0,0.000000,-0.000000,0.034522,-0.000000,0.034522,34838.871094,34018.218987
3,-0.445997,-1.040384,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.464008,0.0,-0.0,-0.000000,-0.445997,-0.000000,-0.445997,-0.000000,5125.215820,5207.540458
4,1.661025,-0.826600,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,-1.373003,1.0,0.0,-0.826600,1.661025,-0.000000,0.000000,-0.000000,12142.578125,13212.331234

In [82]:
# create web application for testing using Gradio
create_app(deployment_gbr_model)

Running on local URL:  http://127.0.0.1:7860

To create a public link, set `share=True` in `launch()`.